/* Hero style */
main .hero {
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .presentation .title {
    font-size: 80px;
    color: #000000;
    font-weight: bold;
}

.expose {
    color: #fe9c02;
    font-size: 130px;
}

.hero .presentation .subTitle {
    font-size: 23px;
    color: #000000;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 10px;
}

.hero .presentation .description {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 40px;
}

.hero .presentation .reseau {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
}

.hero .presentation .reseau:hover {
    flex-direction: row;
    width: 150px;
}

.hero .presentation .reseau:hover .facebook {
    margin: 5px 5px;
}

.hero .presentation .reseau i {
    font-size: 30px;
    color: #000000;
    margin: 5px 0;
    cursor: pointer;
}

.hero .presentation .reseau i:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.reseau .cercle {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
    background-color: #fe9c02;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Savoir style */
main .savoir {
    width: 100%;
    height: 90vh;
    color: #fff;
    background-color: #000;
}

main .savoir .container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

main .savoir .container h1 {
    font-size: 40px;
}

main .savoir .container .btn {
    padding: 8px 20px;
    border: solid 2px #f29400;
    margin-top: 20px;
    background: #f29400;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap;
}

main .savoir .container .btn:hover {
    background: #FFFFFF;
    color: #F29301;
}