/* Hero style */
main .hero {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url('../asset/Produits_Cover_Feu.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .presentation .title {
    font-size: 80px;
    color: #FFFFFF;
    font-weight: bold;
}

.expose {
    color: #fe9c02;
    font-size: 130px;
}

.hero .presentation .subTitle {
    font-size: 23px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 10px;
}

.hero .presentation .description {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 19px;
}

/* Product style */

main .produit {
    width: 100%;
    padding: 60px 0;
}

main .produit .presentation {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.produit .presentation .title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px
}

.produit .presentation .title:hover {
    text-decoration: underline;
}

/* poele */
main .poele {
    padding-bottom: 60px;
}

.poele .container .row {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

.poele .container .row .poele {
    width: 47%;
    height: 500px;
    cursor: pointer;
}

.poele .container .row .poele img {
    width: 100%;
    height: 100%;
}

.poele .container .row .poele4,
.poele .container .row .poele5 {
    width: 35%;
    height: 100%;
}

.poele .container .row .poel {
    width: 20%;
    height: 408px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

.poele .container .row .poele::after {
    position: absolute;
    display: block;
    content: "";
    background: #F29301 0% 0% no-repeat padding-box;
    width: 237px;
    height: 4px;
}

.poele .container .row .txt {
    width: 47%;
    height: 474px;
    border: solid 2px #F29301;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.poele .container .row .poele5 {
    /* margin-top: 10px; */
}