/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/* Reset Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-repeat: no-repeat;
    font-family: 'Poppins', "sans-serif";
}

/* NavBar Style */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    align-items: center;
    padding: 0 80px;
    display: flex;
    justify-content: space-around;
    background: #000000;
    transition: 1.5s;
    z-index: 1000;
}

header .logo {
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

header ul {
    position: relative;
    display: flex;
}

header.sticky {
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px #f3dab4;
}

header.sticky .logo {
    color: #000000;
}

header.sticky ul li a {
    color: #000000;
}

header.sticky .toggle {
    background-color: #F29301;
}

/* loGoMobile Style */
header ul li .logoMobile,
.logoMobileImg {
    display: none;
}

header ul li a {
    color: #FFFFFF;
    font-size: 15px;
    height: 50px;
    position: relative;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 20px;
    display: block;
}

header ul li a:hover {
    background-color: #F29301;
}

header ul .rdvBlock {
    width: 160px;
}

header ul li .rdv {
    color: #F29301;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 3px;
    border: 2px solid #F29301;
    background: #000000;
    opacity: 1;
}

header ul li .rdv:hover {
    border: 2px solid #F29301;
    color: #F29301;
    background: #FFFFFF;
}

header.sticky ul li .rdv {
    color: #FFFFFF
}

header.sticky ul li .rdv:hover {
    color: #000000;
}